@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", null, new { @class = "btn btn-info" })

<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="text-align:center">Movies</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr><td> No Movies on Database</td></tr>
            }
            else
            {
                foreach (var movie in Model)
                {
                    <tr><td> @Html.ActionLink(movie.Name, "Edit", new { Id = movie.Id }, null) </td>
                        <td style="text-align:center">@movie.Genre.Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>
    </div>
