@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "New", null, new { @class = "btn btn-info" } )

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th style="text-align:center">Customers</th>
            <th style="text-align:center">Discount Rate</th>
        </tr>
        

    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr><td> No Customers on Database</td></tr>
        }
        else
        {
            foreach (var customer in Model)
            {
                <tr><td> @Html.ActionLink(customer.Name, "Edit", new { Id = customer.Id }, null) </td>
                    <td style="text-align:center">@customer.MembershipType.Name</td>
                </tr>
              
            }

        }

    </tbody>
</table>
