<appSettings>
  <add key="MailServer" value="dev.smtp.vidly.com" />
  <add key="FacebookAppId" value="1891476911176572" />
  <add key="FacebookAppSecret" value="18df47b59db13c4453580816b507ac5f" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="GmailUserName" value="webmanager.oppipress@gmail.com"/>
  <add key="GmailPassword" value="zenith09"/>
  <add key="GmailHost" value="smtp.gmail.com"/>
  <add key="GmailPort" value="587"/>
  <add key="GmailSsl" value="true"/>
</appSettings>
