<appSettings>
  <add key="MailServer" value="dev.smtp.vidly.com" />
  <add key="FacebookAppId" value="1891476911176572" />
  <add key="FacebookAppSecret" value="18df47b59db13c4453580816b507ac5f" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
